<div ng-include="'partials/head.html?3'"></div>


<div ng-show="showWelcome">

  <div class="welcome_logo"></div>

  <div class="welcome_box_wrap">
    <div class="welcome_text">
      <p>Benvido a  web-cliente non oficial de  <strong>Telegram</strong> mensaxer&iacutea.</p>
      <p>Esto &eacute unha versi&oacutean alpha polo cal pode ter alg&uacuten erro.</p>
      <p>Visita <a target="_blank" href="https://telegram.org/">telegram.org</a> para saber m&aacuteis.</p>
    </div>
    <a href="#/login" class="btn btn-tg btn-block">Empezar  a parolar</a>
  </div>

</div>