<div ng-include="'partials/head.html?3'"></div>


<div ng-show="showWelcome">

  <div class="welcome_logo"></div>

  <div class="welcome_box_wrap">
    <div class="welcome_text">
      <p>Benvido a  web-cliente non oficial de  <strong>Telegram</strong> mensaxer&iacute;a.</p>
      <p>Esta &eacute; unha versi&oacute;n alpha polo cal pode ter alg&uacute;n erro.</p>
      <p>Visita <a target="_blank" href="https://telegram.org/">telegram.org</a> para aprender m&aacute;is.</p> 
    </div>
    <a href="#/login" class="btn btn-tg btn-block">Comezar a conversar</a>
  </div>

</div>